
.wrapper {

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;

}


// .logo{
// }
.search,
.search-result{
    width: 361px;
}

.search{
    position: relative;
    height: 46px;
    padding-left: 16px;
    display: flex;
    background-color: rgba(22, 24, 35, 0.06);;
    border-radius: var(--border-radius-button);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        color: var(--black);
        font-size: 1.6rem;
        height: 100%;
        caret-color:var(--primary) ;
    }
    input:not(:placeholder-shown) ~ .search-btn{
           color: var(--black);
    }
    &::after{
        content: "";
        position: absolute;
        top: 9px;
        right: var(--search-button-width);
        width: 1px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:focus-within{
        border-color: rgba(22, 24, 35, 0.2);
    }
   
}
.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading{
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);

}
.search-btn {
    width: 50px;
    height: 100%;
    border-top-right-radius: var(--border-radius-button);
    border-bottom-right-radius: var(--border-radius-button);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover{
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.more-btn{
    font-size: 2rem;
    margin-left: 28px;
    padding: 4px 8px;
    background-color: transparent;
}

