@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,700&display=swap');

:root {
    font-size: 62.5%;
    --default-layout-width: 1150px;
    --black : #000;
    --white: #fff;
    --text-color : #000;
    --border-radius-button : 92px;
    --search-button-width : 52px;
    --primary:#fe2c55;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
  border: 0;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-family: 'Roboto', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;

}