.wrapper {
    display:  flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}
.container {
    width:var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
}
.content{
    flex: 1;
    min-height: 100px;
}